.myModal {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	display: none;
	background: rgba(0,0,0, 0.6);
	z-index: 1;
}
.myModalContent {
	padding: 25px;
	background: #333;
	border-radius: 16px;
	min-width: 250px;
	box-shadow: 0px 0px 5px 2px rgba(145, 142, 254, 0.5);
}
.myModal.active {
	display: flex;
	justify-content: center;
	align-items: center;
}