* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #202025;
	color: #efefef;
}

#root {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.App {
	max-width: 800px;
	position: relative;
	padding: 10px 20px;
}
.About {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	font-size: 24px;
	padding: 10px 20px;
}
.PostIdPage {
	max-width: 800px;
	padding: 10px 20px;
}
.post {
	display: flex;
	padding: 15px;
	border: 3px solid #6c62fb;
	border-radius: 15px;
	margin: 5px;
	justify-content: space-between;
	align-items: center;
}
.post__btns {
	display: flex;
	gap: 5px;
	margin: 2px;
}
.post-enter {
	opacity: 0;
}
.post-enter-active {
	opacity: 1;
	transition: opacity 300ms ease-in;
}
.post-exit {
	opacity: 1;
}
.post-exit-active {
	opacity: 0;
	transition: opacity 300ms ease-in;
}
.page__wrapper {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 20px 10px;
	margin: 25px 0 20px 0;
	border: 2px solid #6c62fb;
	border-radius: 10px;
}
.page__wrapper .page {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #efefef;
	cursor: pointer;
	width: 25px;
	height: 25px;
	transition: all .35s ease;
	perspective: 600px;
	transform: translateY(0px);
}
.page__wrapper .page__current {
	font-weight: 700;
	background-color: #6c62fb;
	border-radius: 5px;
	transform: translateY(-5px);
}
.Missing {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100vh;
}
.Missing h1 {
	color: #ec2c2c;
	margin-bottom: 10px;
}
.Missing .redirect {
	color: #efefef;
}