* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #303030;
	color: #efefef;
}

#root {
	display: flex;
	justify-content: center;
}

.App {
	width: 800px;
	padding: 10px;
}

.post {
	display: flex;
	padding: 15px;
	border: 3px solid #6c62fb;
	border-radius: 15px;
	margin: 5px;
	justify-content: space-between;
	align-items: center;
}