.navbar {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 30px;
	background-color: rgba(0, 0, 0, .6);
	backdrop-filter: blur(30px);
}
.navbar .link {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  margin-right: 20px;
	position: relative;
}
.navbar .link.active::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 3px;
	border-radius: 2px;
	background-color: #6c62fb;
	bottom: -6px;
	left: 0;
}

